<div class="dataTables_wrapper form-inline no-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="dataTables_length">
                <label>Mostrar
                    <select class="input-sm" ng-model="params.limit"
                            ng-options="s for s in limits"></select>
                    registros</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 pull-right">
            <div class="input-group">
                <input type="text" class="form-control search-query input-sm" placeholder="Buscar" ng-model="search"/>

                <span class="input-group-btn">
                    <button type="button" class="btn no-border btn-primary btn-sm cf-btn-sm-search"
                            ng-class="{'disabled': search.length < 2}"
                            ng-click="shortSearch(search)">
                        <i class="ace-icon fa fa-search icon-on-right"></i>
                    </button>
                    <button type="button" class="btn no-border btn-default btn-sm cf-btn-sm-search cf-btn-close"
                            ng-class="{'disabled': search.length < 2}"
                            ng-click="closeSearch(); search = ''">
                        <i class="ace-icon glyphicon glyphicon-remove"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div ng-transclude></div>
</div>