<!DOCTYPE html>
<html lang="en" data-ng-app="sclinic" data-ng-cloak>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title ng-bind="optionsPage.title"></title>

    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    {% block styles %}
        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{ asset('bundles/cfsclinic/vendors/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet"
              href="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/font-awesome/4.1.0/css/font-awesome.min.css') }}"/>

        <!-- jquery-ui -->
        <link rel="stylesheet" href="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/css/jquery-ui.min.css') }}"/>

        <!-- chosen select multiple -->
        <link rel="stylesheet" href="{{ asset('bundles/cfsclinic/vendors/angularjs/chosen/vendor/chosen.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/cfsclinic/vendors/angularjs/chosen/chosen-spinner.css') }}"/>

        <!-- gritter plugin of notifications -->
        <link rel="stylesheet"
              href="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/css/jquery.gritter.min.css') }}"/>

        <!-- plugin angularjs ngprogress -->
        <link rel="stylesheet"
              href="{{ asset('bundles/cfsclinic/vendors/angularjs/ngprogress/ngProgress.css') }}"/>

        <!-- ace styles -->
        <link rel="stylesheet" href="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/css/ace.min.css') }}"/>

        <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/css/ace-part2.min.css') }}"/>
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/css/ace-skins.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/css/ace-rtl.min.css') }}"/>

        <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/css/ace-ie.min.css') }}"/>
        <![endif]-->

        <!-- general style of app -->
        <link rel="stylesheet" href="{{ asset('bundles/cfsclinic/css/style.css') }}"/>

        <!-- inline styles related to this page -->

        <!-- ace settings handler -->
        <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/ace-extra.min.js') }}"></script>

        <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

        <!--[if lte IE 8]>
        <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/html5shiv.min.js') }}"></script>
        <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/respond.min.js') }}"></script>
        <![endif]-->
    {% endblock styles %}
</head>
<body class="no-skin">

<!-- block to show top sidebar -->
<div id="navbar" class="navbar navbar-default navbar-fixed-top">
<div class="navbar-container" id="navbar-container">
<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
    <span class="sr-only">Toggle sidebar</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

<div class="navbar-header pull-left">
    <a href="#/" class="navbar-brand">
        <small>
            <i class="fa fa-leaf"></i> Servicios Cínicos
        </small>
    </a>
</div>

<div class="navbar-buttons navbar-header pull-right" role="navigation" ng-show="!error">
    <ul class="nav ace-nav">
        {% if is_granted('ROLE_USER') %}
            <li class="light-blue">
                <a data-toggle="dropdown" href="user_menu" class="dropdown-toggle">
                    <img class="nav-user-photo" src="{{ asset('bundles/cfsclinic/images/jose.jpg') }}"
                         alt="{{ app.user }}"/>
                    <span class="user-info"><small>Bienvenido,</small> {{ app.user }} </span>
                    <i class="ace-icon fa fa-caret-down"></i>
                </a>

                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li>
                        <a href="#">
                            <i class="ace-icon fa fa-cog"></i> Settings
                        </a>
                    </li>

                    <li>
                        <a href="profile.html">
                            <i class="ace-icon fa fa-user"></i> Profile
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            <i class="ace-icon fa fa-power-off"></i> Logout
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
</div>
</div>
</div>

<!-- block content -->
<div class="main-container" id="main-container">

    <!-- block to show big buttons in left sidebar -->
    <div id="sidebar" class="sidebar responsive" ng-show="!error">
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">

                <a ng-href="#/" class="btn no-border btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </a>

                <button class="btn no-border btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn no-border btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn no-border btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn no-border btn-success"></span>

                <span class="btn no-border btn-info"></span>

                <span class="btn no-border btn-warning"></span>

                <span class="btn no-border btn-danger"></span>
            </div>
        </div>

        <ul style="top: 0px;" class="nav nav-list" ng-show="!error">
            <li class="hsub open">
                <a href="models" class="dropdown-toggle">
                    <i class="menu-icon fa fa-book"></i>
                    <span class="menu-text"> Modelos </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu nav-show" style="display: block;">
                    <li ng-class="{'/indications_template':'active', false:''}[pathLocation]">
                        <a ng-href="#/indications_template">
                            <i class="menu-icon fa fa-caret-right"></i>
                            <span class="menu-text"> Indicaciones </span>
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="elements.html">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Elements
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li ng-class="{'/index':'active', false:''}[pathLocation]">
                <a ng-href="#/index">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> Modelos </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li ng-class="{'/index2':'active', false:''}[pathLocation]">
                <a ng-href="#/index2">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> Index 2 </span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse" ng-show="!error">
            <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
               data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content" ng-class="{'cf-expand': error}">
        <div class="breadcrumbs" id="breadcrumbs" ng-show="!error">
            <ul class="breadcrumb" ng-show="!error">
                <li ng-repeat="bread in optionsPage.breadcrumbs" ng-class="{'true':'active', false:''}[bread.active]">
                    <i ng-show="bread.icons" ng-class="bread.icons"></i>
                    <a ng-show="!bread.active" href="bread.url" ng-bind="bread.name"></a>
                    <span ng-show="bread.active" ng-bind="bread.name"></span>
                </li>
            </ul>
            <!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search" ng-show="!error">
                <form class="form-search">
                <span class="input-icon">
                    <input placeholder="Search ..." class="nav-search-input" id="nav-search-input"
                           autocomplete="off" type="text">
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
                </form>
            </div>
            <!-- /.nav-search -->
        </div>

        <div class="page-content">
            <div class="page-content-area">
                <div class="page-header" ng-show="!error">
                    <h1>
                        <span ng-bind="optionsPage.pageHead.name"></span>
                        <small ng-show="optionsPage.pageHead.subtext">
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            <span ng-bind="optionsPage.pageHead.subtext"></span>
                        </small>
                    </h1>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div ng-view></div>
                        <!-- block to show content of angularjs controllers -->
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#
    Generic modal to delete any element.
#}
<script id="delete_modal" type="text/ng-template">
    <div class="cf-delete-modal">
        <div class="modal-header">
            <button type="button" class="cf-close close fa fa-remove" ng-click="cancel()">×</button>
            <h5 class="modal-title">
                ¿Seguro que Desea Borrar el Elemento? - <strong>[[ title ]]</strong>
            </h5>
        </div>
        <div ng-show="content" class="modal-body">
            [[ content ]]
        </div>
        <div class="modal-footer">
            <button class="btn no-border btn-sm btn-danger" ng-click="delete()">
                <span class="ui-button-text">
                    <i class="ace-icon fa fa-trash-o bigger-110"></i>&nbsp; Sí
                </span>
            </button>
            <button class="btn no-border btn-sm btn-default" ng-click="cancel()">
                <span class="ui-button-text">
                    <i class="ace-icon fa fa-times bigger-110"></i>&nbsp; No
                </span>
            </button>
        </div>
    </div>
</script>

{% block scripts %}
    <script src="{{ asset('bundles/cfsclinic/vendors/jquery.2.1.1.min.js') }}"></script>
    <script src="{{ asset('bundles/cfsclinic/vendors/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- page specific plugin scripts -->

    <!--[if lte IE 8]>
    <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/excanvas.min.js') }}"></script>
    <![endif]-->
    <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/jquery-ui.custom.min.js') }}"></script>
    <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/jquery.easypiechart.min.js') }}"></script>
    <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/flot/jquery.flot.min.js') }}"></script>
    <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/flot/jquery.flot.pie.min.js') }}"></script>
    <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/flot/jquery.flot.resize.min.js') }}"></script>

    <!-- ace scripts -->
    <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/ace-elements.min.js') }}"></script>
    <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/ace.min.js') }}"></script>

    <!-- chosen select multiple -->
    <script src="{{ asset('bundles/cfsclinic/vendors/angularjs/chosen/vendor/chosen.jquery.js') }}"></script>

    <!-- gritter plugin of notifications -->
    <script src="{{ asset('bundles/cfsclinic/vendors/themes/ace-admin/js/jquery.gritter.min.js') }}"></script>

    <!-- ckeditor plugin of web text editor -->
    <script src="{{ asset('bundles/cfsclinic/vendors/ckeditor/ckeditor.js') }}"></script>

    <!-- lodash plugin to work with restangular -->
    <script src="{{ asset('bundles/cfsclinic/vendors/lodash.min.js') }}"></script>

    <!-- helpers functions scripts -->
    <script src="{{ asset('bundles/cfsclinic/js/functions.js') }}"></script>

    <!-- angularjs vendors scripts -->
    <script src="{{ asset('bundles/cfsclinic/vendors/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/cfsclinic/vendors/angularjs.modules.min.js') }}"></script>

    <!-- angularjs application -->
    <script src="{{ asset('bundles/cfsclinic/js/app/application.js') }}"></script>
{% endblock scripts %}
</body>
</html>