<!--<div ng-message="required">Este campo es obligatorio</div>
<div ng-message="minlength">Su campo es demasiado corto</div>
<div ng-message="maxlength">Su campo es demasiado largo</div>
<div ng-message="email">La dirección de correo es inválida</div>-->

<ul class="list-unstyled spaced">
    <li ng-message="required" class="text-danger">
        <i class="ace-icon fa fa-asterisk red"></i>
        Este campo es obligatorio
    </li>

    <li ng-message="minlength" class="text-warning">
        <i class="ace-icon fa fa-exclamation-triangle"></i>
        Su campo es demasiado corto
    </li>

    <li ng-message="maxlength" class="text-warning">
        <i class="ace-icon fa fa-exclamation-triangle"></i>
        Su campo es demasiado largo
    </li>

    <li ng-message="email" class="text-warning">
        <i class="ace-icon fa fa-exclamation-triangle"></i>
        La dirección de correo es inválida
    </li>
</ul>
