OK

<div ng-include src=" '/bundles/cfsclinic/js/app/partials/IndicationsTemplates/add.html' "></div>
<div>
    <a ng-click="openModal('lg', 'cf-half-modal', 'ApiIndicationsTemplatesController.add', 'indications_template_add', '', '')">Abrir</a>
</div>
