{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_login %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <fieldset>
            <label class="block clearfix">
                <span class="block input-icon input-icon-right">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Usuario" required="required" />
                    <i class="ace-icon fa fa-user"></i>
                </span>
            </label>

            <label class="block clearfix">
                <span class="block input-icon input-icon-right">
                    <input type="password" id="password" name="_password" class="form-control" placeholder="Contraseña" required="required" />
                    <i class="ace-icon fa fa-lock"></i>
                </span>
            </label>

            <div class="space"></div>

            <div class="clearfix">
                <label class="inline">
                    <input type="checkbox" id="remember_me" name="_remember_me" class="ace" value="on" />
                    <span class="lbl"> Recordarme</span>
                </label>

                <button type="submit" id="_submit" name="_submit" class="width-35 pull-right btn btn-sm btn-primary">
                    <i class="ace-icon fa fa-key"></i>
                    <span class="bigger-110">Entrar</span>
                </button>
            </div>

            <div class="space-4"></div>
        </fieldset>
    </form>
{% endblock fos_user_login %}

{% block fos_user_reset %}
    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_reset %}