{% trans_default_domain 'FOSUserBundle' %}

{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    {% if invalid_username is defined %}
        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
    {% endif %}

    <fieldset>
        <label class="block clearfix">
            <span class="block input-icon input-icon-right">
                <input type="email" id="username" name="username" class="form-control" placeholder="Email" required="required" />
                <i class="ace-icon fa fa-envelope"></i>
            </span>
        </label>

        <div class="clearfix">
            <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                <i class="ace-icon fa fa-lightbulb-o"></i>
                <span class="bigger-110">Send Me!</span>
            </button>
        </div>
    </fieldset>
</form>
