body {
    font-size : 12px;
}

/*= CK Editor.
 -------------------------------------------------------------- */
.ng-ckeditor {
    border : 0 none
}

/*= Tables.
 -------------------------------------------------------------- */
table td {
    max-width : 296px !important;
}

.editable-controls input {
    height : 30px;
}

.cf-table {
    margin-bottom : 0px;
}

.cf-btn-sm-search {
    font-size : 10px;
    padding   : 4px 10px;
}

.cf-btn-close {
    padding : 4px;
}

.cf-pagination {
    padding : 0px !important;
}

.cf-pagination .row {
    border-bottom : 0px solid #E0E0E0 !important;
}

.dataTables_info {
    font-size : 13px !important;
}

.dataTables_paginate .pagination {
    margin : 0px;
}

.dataTables_wrapper input[type="search"],
.dataTables_wrapper input[type="text"],
.dataTables_wrapper select {
    margin-left : 0px;
}

table thead th:last-child {
    width : 1%;
}

.cf-td-truncate p {
    max-height : 100px;
    overflow   : hidden;
}

/*= Inline editable.
 -------------------------------------------------------------- */
.cfeditable div:first-child {
    border-bottom : 1px dashed #BBB;
    cursor        : pointer;
    min-height    : 20px;
    font-weight   : 400;
}

/*= Require icon in forms.
 -------------------------------------------------------------- */
.cf-require-icon {
    font-size : 8px;
    position  : absolute;
}

/*= Custom xeditable plugin.
 -------------------------------------------------------------- */
.editable-empty,
.editable-empty:hover,
.editable-empty:focus,
a.editable-empty,
a.editable-empty:hover,
a.editable-empty:focus {
    font-style : inherit;
}

.editable-click {
    border-bottom : 0px;
}

/*= Custom Modal.
 -------------------------------------------------------------- */
.cf-show-modal .modal-header {
    background-color : #438eb9;
    color            : #fff;
}

/*= Delete Modal.
 -------------------------------------------------------------- */
.cf-delete-modal .modal-header {
    background-color : #d15b47;
    color            : #fff;
}

.cf-delete-modal .modal-body {
    padding : 15px;
}

.cf-delete-modal .modal-footer {
    margin-top : 0px;
}

/*= Button Close.
 -------------------------------------------------------------- */
.cf-close {
    margin-top  : -4px !important;
    color       : white !important;
    font-size   : 28px !important;
    text-shadow : 0 0px 0 #fff !important;
    opacity     : 1 !important;
}

.cf-close:hover,
.cf-close:focus {
    opacity : .5 !important;
}

/*= Gritter Plugin Styles.
 -------------------------------------------------------------- */
.gritter-title .label {
    height : 17px;
}

#gritter-notice-wrapper {
    top   : 46px;
    right : 9px;
}

.gritter-item p {
    line-height : 1.4;
}

.gritter-with-image {
    width : 80%;
}

.profile-info-name {
    width : 151px;
}

/*= Modified error page.
 -------------------------------------------------------------- */
.cf-expand {
    margin-left : 0px !important;
}

.cf-expand .page-content {
    padding : 0 !important;
}

.error-container {
    margin : 9px;
}

.cf-error-message {
    margin-top : 15px;
}

@media only screen and (max-width : 767px) {
    .modal-dialog {
        width : 94% !important;
    }
}

/*= Main Page Login.
 -------------------------------------------------------------- */
.cf-navbar-login a i {
    font-size : 19px !important;
}

.cf-navbar-login {
    line-height : 39px !important;
}

.cf-modal-header-login {
    background : #394557 url(../images/pattern.jpg);
}

.cf-modal-header-login .widget-box {
    margin : -12px 0;
}

.cf-center {
    margin-top    : -22px;
    margin-bottom : 19px;
}

@media screen and (min-width : 768px) {
    .cf-modal-header-login .modal-dialog {
        width : 398px;
    }
}

@media only screen and (max-width : 479px) {
    .navbar:not(.navbar-collapse) .ace-nav {
        letter-spacing : 0px;
    }
}

.modal-backdrop {
    z-index : 1029;
}

/*= Helpers.
 -------------------------------------------------------------- */
.cf-position-relative {
    position : relative;
}

.cf-position-absolute {
    position : absolute;
}

.cf-position-fixed {
    position : fixed;
}

.cf-display-none {
    display : none;
}

.cf-display-inline-block {
    display : inline-block;
}

.cf-wide {
    width : 100%;
}

.cf-half-wide {
    width : 50%;
}

.cf-quarter-wide {
    width : 25%;
}

.cf-tenth-wide {
    width : 10%;
}

.cf-border-bottom-dashed {
    border-bottom : 1px dashed #bbbbbb;
}

.cf-cursor-dragging-over {
    cursor : move;
}

.cf-capitalize {
    text-transform : capitalize;
}

.cf-margin-bottom {
    margin-bottom : 0.5em;
}

.cf-text-align-left {
    text-align : left;
}

.cf-text-align-right {
    text-align : right;
}

.cf-text-align-center {
    text-align : center;
}

.cf-border-bottom-dotted {
    border-bottom-style : dotted;
}

.cf-border-bottom-solid {
    border-bottom-style : solid;
}

.cf-border-bottom-dashed {
    border-bottom-style : dashed;
}

.cf-clear-fix {
    clear : both;
}

.cf-wide-modal .modal-dialog {
    width : 100%;
}

.cf-ninety-modal .modal-dialog {
    width : 90%;
}

.cf-eighty-modal .modal-dialog {
    width : 80%;
}

.cf-seventy-modal .modal-dialog {
    width : 70%;
}

.cf-sixty-modal .modal-dialog {
    width : 60%;
}

.cf-half-modal .modal-dialog {
    width : 50%;
}

.cf-quarter-modal .modal-dialog {
    width : 25%;
}

.cf-tenth-modal .modal-dialog {
    width : 10%;
}