<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="error-container">
            <div class="well">
                <h1 class="grey lighter smaller">
                    <span class="blue bigger-125">
                        <i class="ace-icon fa fa-random"></i>
                        [[ meta ]]
                    </span>
                    [[ meta.msg.text ]]
                </h1>

                <hr>
                <h3 class="lighter smaller">
                    Pero estamos trabajando
                    <i class="ace-icon fa fa-wrench icon-animated-wrench bigger-125"></i>
                    en este problema!
                </h3>

                <div class="space"></div>

                <hr>
                <div class="space"></div>

                <div class="center">
                    <a href="/login" class="btn btn-primary no-border">
                        <i class="ace-icon fa fa-tachometer"></i>
                        Pagina de Inicio
                    </a>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>