<!-- PARTIAL: Add page.
    ================================================================================ -->
<script id="indications_template_add" type="text/ng-template">
    <div class="cf-show-modal">
        <form name="addIndicationForm" class="form-horizontal" role="form">
            <div class="modal-header">
                <button type="button" class="cf-close close fa fa-remove" ng-click="modalInstance.dismiss('cancel')">×
                </button>
                <h5 class="modal-title">
                    Crear Plantilla de Indicación: <strong>[[ indicationAdd.name ]]</strong>
                </h5>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">
                        Nombre
                        <i class="ace-icon fa fa-asterisk red cf-require-icon"></i>
                    </label>

                    <!-- TODO: VCA: Preguntarle a jose si desea poner la ayuda a cada elemento. -->
                    <div class="col-sm-10">
                        <input cffocus type="text" name="name" ng-model="indicationAdd.name" required
                               placeholder="Nombre de la Indicación" class="col-xs-8 col-sm-8">
                        <span popover-title="Nombre de la Indicación" popover="Nombre del elemento"
                              popover-trigger="mouseenter" class="help-button">?</span>

                        <div ng-messages="addIndicationForm.name.$error" class="cf-error-message"
                             ng-messages-include="bundles/cfsclinic/js/app/partials/error-messages.html"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"> Indicación </label>

                    <div class="col-sm-10">
                        <ul class="list-unstyled" ng-cloak ng-hide="isReady">
                            <li class="text-success">
                                <i class="ace-icon fa fa-circle green"></i>
                                Inicializando Editor Web ...
                            </li>
                        </ul>

                        <textarea ckeditor="editorOptions" ng-model="indicationAdd.template_indication"
                                  placeholder="Texto de la Indicación"
                                  class="autosize-transition form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"> Estado </label>

                    <div class="col-sm-10">
                        <!--TODO: VCA: Quitar el espacio en blanco que sale en los options.-->
                        <select ng-model="indicationAdd.status" ng-options="s.value as s.name for s in status"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"></label>

                    <div class="col-sm-10">
                        <div class="widget-container-col ui-sortable">
                            <div class="widget-box collapsed">
                                <div class="widget-header widget-header-small ui-sortable-handle">
                                    <h6 class="widget-title">
                                        <i class="ace-icon fa fa-sort"></i>
                                        Descripción (Opcional)
                                    </h6>

                                    <div class="widget-toolbar">
                                        <a data-action="collapse" href="">
                                            <i class="1 ace-icon fa bigger-125 fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="widget-body" style="display: none;">
                                    <div class="widget-main">
                                        <div class="form-group">

                                            <div class="col-sm-12">
                                                <ul class="list-unstyled" ng-cloak ng-hide="isReady">
                                                    <li class="text-success">
                                                        <i class="ace-icon fa fa-circle green"></i>
                                                        Inicializando Editor Web ...
                                                    </li>
                                                </ul>

                                                <textarea ckeditor="editorOptions" ng-model="indicationAdd.description"
                                                          placeholder="Descripción de la Indicación"
                                                          class="autosize-transition form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn no-border btn-sm btn-primary" ng-disabled='!addIndicationForm.$valid'
                        ng-click="create(indicationAdd)">
                    <span class="ui-button-text">
                        <i class="ace-icon fa fa-edit bigger-110"></i>&nbsp; Guardar
                    </span>
                </button>
                <button class="btn no-border btn-sm btn-default" ng-click="modalInstance.dismiss('cancel')">
                    <span class="ui-button-text">
                        <i class="ace-icon fa fa-times bigger-110"></i>&nbsp; Cancelar
                    </span>
                </button>
            </div>
        </form>
    </div>
</script>