<!-- ================= Templates Includes. ================= -->

<!-- Include forms ADD and SHOW of Indications Templates. -->
<div ng-include src=" '/bundles/cfsclinic/js/app/partials/IndicationsTemplates/show.html' "></div>
<div ng-include src=" '/bundles/cfsclinic/js/app/partials/IndicationsTemplates/add.html' "></div>

<!-- ================= Templates by Routes. ================= -->

<!-- PARTIAL: Index page.
    ================================================================================ -->
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">
            <button class="btn no-border btn-xs btn-primary"
                    ng-click="openModal('lg', 'cf-sixty-modal', 'ApiIndicationsTemplatesController.add', 'indications_template_add', '', '')">
                <i class="ace-icon glyphicon glyphicon-plus bigger-120"></i>
                Agregar Indicación
            </button>
        </div>
        <div cftable>
            <table si-table sorting="params.sortBy" class="table table-responsive table-bordered cf-table">
                <thead>
                <tr>
                    <th sort-by="name">Nombre</th>
                    <th sort-by="indication">Indicación Plantilla</th>
                    <th sort-by="state">Estado</th>
                    <th class="sorting_disabled">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="indication in indications_templates">
                    <td>[[ indication.name ]]</td>
                    <td class="cf-td-truncate" ng-bind-html="indication.template_indication | truncate: 300: '...': true | cfhtml"></td>
                    <td>
                            <span class="label label-sm [[ status[indication.status].class ]]"
                                  title="[[ status[indication.status].description ]]">[[ status[indication.status].name ]]</span>
                    </td>

                    <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                            <a class="blue" href="" title="Ver indicación">
                                <i class="ace-icon fa fa-book bigger-130"
                                   ng-click="openModal('lg', 'cf-seventy-modal', 'ApiIndicationsTemplatesController.show', 'indications_template_show', indication, $index)"></i>
                            </a>

                            <a class="red" href="" title="Borrar indicación"
                               ng-click="deleteModal('lg', 'ApiIndicationsTemplatesController.delete', '', indication, $index)">
                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                            </a>
                        </div>

                        <div class="hidden-md hidden-lg">
                            <div class="inline position-relative">
                                <button class="btn no-border btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown"
                                        data-position="auto">
                                    <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a href="" class="tooltip-info" data-rel="tooltip" title="Ver indicación"
                                           ng-click="openModal('lg', 'cf-seventy-modal', 'ApiIndicationsTemplatesController.show', 'indications_template_show', indication, $index)">
                                    <span class="blue">
                                        <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                    </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="" class="tooltip-error" data-rel="tooltip"
                                           title="Borrar indicación"
                                           ng-click="deleteModal('lg', 'ApiIndicationsTemplatesController.delete', '', indication, $index)">
                                    <span class="red">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="cf-pagination" colspan="5">
                        <si-table-pagination limit="[[ params.limit ]]" total="[[ params.total ]]"
                                             offset="params.offset"
                                             indices="[[ tableParams.indices ]]"/>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>