<!-- PARTIAL: Show page.
================================================================================ -->
<script id="indications_template_show" type="text/ng-template">
    <form name="editIndicationForm" class="form-horizontal" role="form">
        <div class="cf-show-modal">
            <div class="modal-header">
                <button type="button" class="cf-close close fa fa-remove" ng-click="modalInstance.dismiss('cancel')">×
                </button>
                <h5 class="modal-title">
                    Mostrar: <strong>[[ title ]]</strong>
                </h5>
            </div>
            <div class="modal-body">

                <div class="tabbable">
                    <ul class="nav nav-tabs" id="cf-tab-indications">
                        <li class="active">
                            <a data-toggle="tab" href=".cf-tab-indications-generals">
                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                Generales
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href=".cf-tab-indications-history" ng-click="history(indication.id)">
                                <i class="green ace-icon fa fa-archive bigger-120"></i>
                                Histórico
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="cf-tab-indications-generals tab-pane fade in active">
                            <div class="profile-user-info profile-user-info-striped">
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Nombre</div>

                                    <div class="profile-info-value">
                                        <div cfeditable class="cfeditable">
                                            <div>[[ indication.name ]]</div>

                                            <div>
                                                <input type="text" name="name" ng-model="indication.name" required
                                                       placeholder="Nombre de la Indicación" class="col-xs-8 col-sm-8">
                                            </div>
                                        </div>
                                        <div ng-messages="editIndicationForm.name.$error" class="cf-error-message"
                                             ng-messages-include="bundles/cfsclinic/js/app/partials/error-messages.html"></div>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Indicación</div>

                                    <div class="profile-info-value">
                                        <div cfeditable class="cfeditable">
                                            <div ng-bind-html="indication.template_indication | cfhtml"></div>

                                            <div>
                                                <ul class="list-unstyled" ng-cloak ng-hide="isReady">
                                                    <li class="text-success">
                                                        <i class="ace-icon fa fa-circle green"></i>
                                                        Inicializando Editor Web ...
                                                    </li>
                                                </ul>
                                                <textarea ckeditor="editorOptions"
                                                          ng-model="indication.template_indication"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Status</div>

                                    <div class="profile-info-value">
                                        <div cfeditable class="cfeditable">
                                            <div>
                                                <span class="label label-sm [[ status[indication.status].class ]]"
                                                      title="[[ status[indication.status].description ]]">[[ status[indication.status].name ]]</span>
                                            </div>

                                            <div>
                                                <select ng-model="indication.status"
                                                        ng-options="s.value as s.name for s in status"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"></div>

                                    <div class="profile-info-value">
                                        <div class="widget-container-col ui-sortable">
                                            <div class="widget-box collapsed">
                                                <div class="widget-header widget-header-small ui-sortable-handle">
                                                    <h6 class="widget-title">
                                                        <i class="ace-icon fa fa-sort"></i>
                                                        Descripción
                                                    </h6>

                                                    <div class="widget-toolbar">
                                                        <a data-action="collapse" href="">
                                                            <i class="1 ace-icon fa bigger-125 fa-chevron-down"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="widget-body" style="display: none;">
                                                    <div class="widget-main">

                                                        <ul class="list-unstyled" ng-cloak ng-hide="isReady">
                                                            <li class="text-success">
                                                                <i class="ace-icon fa fa-circle green"></i>
                                                                Inicializando Editor Web ...
                                                            </li>
                                                        </ul>
                                                        <textarea ckeditor="editorOptions"
                                                                  ng-model="indication.description"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- History Tab. -->
                        <div class="cf-tab-indications-history tab-pane fade">
                            <div cftable fnc="getDataHistory()">
                                <table si-table sorting="params.sortBy" class="table table-responsive table-bordered cf-table">
                                    <thead>
                                    <tr>
                                        <th sort-by="section">Sección</th>
                                        <th sort-by="entity">Entidad</th>
                                        <th sort-by="username">Usuario</th>
                                        <th sort-by="user_ip_source">IP</th>
                                        <th sort-by="action">Accion</th>
                                        <th sort-by="old_value">Valor Anterior</th>
                                        <th sort-by="new_value">Nuevo Valor</th>
                                        <th sort-by="datetime">Fecha</th>
                                        <th sort-by="msg">Mensaje</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="history in histories">
                                        <td>[[ history.section ]]</td>
                                        <td>[[ history.entity ]]</td>
                                        <td>[[ history.username ]]</td>
                                        <td>[[ history.user_ip_source ]]</td>
                                        <td>[[ history.action ]]</td>
                                        <td ng-bind-html="history.old_value | cfhtml"></td>
                                        <td ng-bind-html="history.new_value | cfhtml"></td>
                                        <td>[[ history.datetime | date:'MM/dd/yyyy h:mm:ssa' ]]</td>
                                        <td>[[ history.msg ]]</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td class="cf-pagination" colspan="10">
                                            <si-table-pagination limit="[[ params.limit ]]" total="[[ params.total ]]"
                                                                 offset="params.offset"
                                                                 indices="[[ tableParams.indices ]]"/>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn no-border btn-sm btn-primary" ng-disabled='!editIndicationForm.$valid'>
                    <span class="ui-button-text">
                        <i class="ace-icon fa fa-edit bigger-110"></i>&nbsp; Editar
                    </span>
                </button>
                <button class="btn no-border btn-sm btn-danger"
                        ng-click="deleteModal('lg', 'ApiIndicationsTemplatesController.delete', '', indication, index); modalInstance.close()">
                    <span class="ui-button-text">
                        <i class="ace-icon fa fa-trash-o bigger-110"></i>&nbsp; Borrar
                    </span>
                </button>
                <button class="btn no-border btn-sm btn-default" ng-click="modalInstance.dismiss('cancel')">
                    <span class="ui-button-text">
                        <i class="ace-icon fa fa-times bigger-110"></i>&nbsp; Cancelar
                    </span>
                </button>
            </div>
        </div>
    </form>
</script>